@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}

@layer components {
  /* shadow treatments */
  .treat-shadow {
    text-shadow: 0px 4px 4px #00000040;
  }
  .dashed-border {
    width: 2%;
    height: 5px;
    background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='5' stroke-dasharray='14' stroke-dashoffset='0' stroke-linecap='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
  }
  /* inner shadowe info card in patform work */
  .plt-work-title-shadow {
    box-shadow: 0px 0px 14.7px -1px #00979a inset;
  }
  /* inner shadowe info card in patform work */
  .plt-work-info-shadow {
    box-shadow: 0px 0px 39.9px -8px #86d1ab inset;
  }
  /* how our platform works form */
  /* text-[#474744] */
  .form-platform-work div label {
    @apply block font-semibold text-white;
  }
  .form-platform-work div input {
    @apply placeholder:text-[#BBBBBB] w-full outline-none h-[48px] px-4 rounded-[40px] border border-[#9996A0] font-normal text-[#474744];
  }
  /* hide scrollbar */
  .scroll-hide::-webkit-scrollbar {
    @apply hidden;
  }
  .scrollbar-custom::-webkit-scrollbar {
    @apply w-[2px] h-[5px] pt-1;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    @apply bg-[#00979A] rounded-[100px];
  }
  .scrollbar-custom::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  /* experience shadow */
  .experience-card-shadow {
    box-shadow: 0px 0px 39.9px -8px #86d1ab inset;
  }
  /* border arrow helping */
  .help-shadow {
    box-shadow: 0px 0px 14.7px -1px #00979a inset;
  }
  /* progress video in home */
  progress.progVideoHome::-webkit-progress-value {
    @apply text-white bg-white;
  }
  /* shadow service shadow roadmap card  */
  .shadow-choose-us {
    box-shadow: 0px 0px 39.9px -8px #86d1ab inset;
  }

  .shadow-service,
  .shadow-roadmap-card {
    box-shadow: 0px 0px 39.9px -8px #86d1ab inset;
  }
  /* complimentary Form */
  .complimentaryFormItem label {
    @apply text-[#474744] font-medium mb-1 inline-block text-[14px] s1512:text-[14px] s1600:text-[16px];
  }
  .complimentaryFormItem input {
    @apply placeholder:font-medium w-full outline-none border border-[#9996A0] rounded-[40px] h-[48px] p-4;
  }
  /* animation */
  .anm {
    @apply duration-300 delay-75 ease-in-out;
  }
  /* flex class */
  .flex-cen {
    @apply flex justify-center items-center;
  }
  .flex-left {
    @apply flex justify-start items-center;
  }
  .flex-right {
    @apply flex justify-end items-center;
  }
  .flex-bet {
    @apply flex justify-between items-center;
  }
}

@layer base {
  /* inter */
  @font-face {
    font-family: "inter";
    src: url("./../assets/fonts/en-inter/Inter\ ExtraLight.otf")
      format("opentype");
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: "inter";
    src: url("./../assets/fonts/en-inter/Inter\ Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "inter";
    src: url("./../assets/fonts/en-inter/Inter\ Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "inter";
    src: url("./../assets/fonts/en-inter/Inter\ Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "inter";
    src: url("./../assets/fonts/en-inter/Inter\ SemiBold.otf")
      format("opentype");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "inter";
    src: url("./../assets/fonts/en-inter/Inter\ Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "inter";
    src: url("./../assets/fonts/en-inter/Inter\ ExtraBold.otf")
      format("opentype");
    font-weight: 800;
    font-style: normal;
  }
  @font-face {
    font-family: "inter";
    src: url("./../assets/fonts/en-inter/Inter\ Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
  }
  /* pt */
  @font-face {
    font-family: "pt-sans";
    src: url("./../assets/fonts/ru-pt-sans/PTSans-Regular.ttf")
      format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "pt-sans";
    src: url("./../assets/fonts/ru-pt-sans/PTSans-BoldItalic.ttf")
      format("truetype");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "pt-sans";
    src: url("./../assets/fonts/ru-pt-sans/PTSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }
}
/* fillscroll border */
.border__style--layout-first,
.border__style--layout-third {
  position: absolute;
  right: 0;
  top: 0;
}
.border__style--layout-second,
.border__style--layout-fourth {
  position: absolute;
  left: 0;
  top: 0;
}

/* Home Page */
/* dots */
.header__dots-container {
  animation: on-off-dots 1.5s infinite forwards;
}

@keyframes on-off-dots {
  to {
    opacity: 0.55;
  }
}

/* Specialized Treatments */
.treatments__sea-all-button {
  transition: box-shadow 0.5s;
}

.treatments__sea-all-button:hover {
  box-shadow: 0 3px 5px 0.2px rgba(0, 0, 0, 0.5);
}

.treatments__card-bubble,
.treatments__card-bubble img {
  transition: box-shadow 0.5s, transform 0.5s, border-width 0.1s;
}

.treatments__card-container:hover .treatments__card-bubble {
  box-shadow: none;
  border-width: 0;
}

.treatments__card-container:hover .treatments__card-bubble img {
  transform: scale(1.25);
  transform-origin: center;
}

.treatments__card-button {
  transition: all 0.1s;
  cursor: pointer;
}

.treatments__card-button:hover {
  background: #ffffff;
  border: 1px solid #86d1ab;
  color: #86d1ab;
}

/* Treatment Roadmap */
@media only screen and (min-width: 1280px) {
  .roadmap-arrow__order--1,
  .roadmap-arrow__order--2,
  .roadmap-arrow__order--3,
  .roadmap-card__order--2,
  .roadmap-card__order--3,
  .roadmap-card__order--4 {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
}

.roadmap-arrow__order--1.active,
.roadmap-arrow__order--2.active,
.roadmap-arrow__order--3.active,
.roadmap-card__order--2.active,
.roadmap-card__order--3.active,
.roadmap-card__order--4.active {
  opacity: 1;
  visibility: visible;
}

.roadmap-arrow__order--1 {
  transition-delay: 0.5s;
}

.roadmap-card__order--2 {
  transition-delay: 1s;
}

.roadmap-arrow__order--2 {
  transition-delay: 2s;
}

.roadmap-card__order--3 {
  transition-delay: 2.5s;
}

.roadmap-arrow__order--3 {
  transition-delay: 3.5s;
}

.roadmap-card__order--4 {
  transition-delay: 4s;
}

/* HELPING PATIENTS FROM AROUND THE GLOBE!! */
